{% extends "layout.html" %}

{% block title %}
  <title>New Product | Example Web App</title>
{% endblock %}

{% block content %}
  <h2>New Product Form</h2>
  <p>Please fill-in the form below...</p>

  <form action="/products/create" method="POST">
    <label>Name:</label>
    <input type="text" name="product_name" placeholder="Product XYZ" value="Product XYZ">

    <label>Department:</label>
    <select name="department">
      <option value="snacks">Snacks</option>
      <option value="beverages">Beverages</option>
      <option value="pantry">Pantry</option>
      <option value="frozen">Frozen</option>
    </select>

    <label>Available:</label>
    <input type="date" name="available_date" value="2019-01-01">

    <button>Submit</button>
  </form>
{% endblock %}
