{% extends "layout.html" %}

{% block title %}
  <title>New Product | Example Web App</title>
{% endblock %}

{% block content %}
  <h2>New Product Form</h2>
  <p>Please fill-in the form below...</p>

  <form action="/products/create" method="POST">
    <label>Name:</label>
    <input type="text" name="product_name" placeholder="Product XYZ" value="Product XYZ">
    <br>

    <label>Department:</label>
    <select name="department">
      <option value="snacks">Snacks</option>
      <option value="beverages">Beverages</option>
      <option value="pantry">Pantry</option>
      <option value="frozen">Frozen</option>
    </select>
    <br>

    <label>Price:</label>
    <input type="number" step="0.01" min="0" name="price" value="4.99" >
    <br>

    <label>Available as of:</label>
    <input type="date" name="availability_date" value="2019-01-01">
    <br>

    <button>Submit</button>
  </form>
{% endblock %}
