{% extends "layout.html" %}

{% block title %}
  <title>Products | Example Web App</title>
{% endblock %}

{% block content %}
  <h2>Products Page</h2>
  <p>Listing all products from the '{{ sheet_name }}' sheet...</p>

  {% if products %}

    <div class="table-responsive">
      <table class="table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                <th scope="row">{{ product["id"] }}</th>
                <td><a href="/products/{{ product["id"] }}">{{ product["name"] }}</a></td>
                <td><button>edit</button></td>
                <td>delete</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </table>
    </div>

  {% else %}
    <p>Products not found.</p>
  {% endif %}

{% endblock %}
