{% extends "layout.html" %}

{% block title %}
  <title>Product Page | My Starter Web App </title>
{% endblock %}

{% block content %}
  <h2>Product #{{ product["id"] }}</h2>

  <p>Name: {{ product["name"] }}</p>

  <p>Department: {{ product["department"] }}</p>

  <p>Price: {{ product["price"] }}</p>

  {% if product["img_url"] %}
    <p>Img:</p>
    <img src="{{ product['img_url'] }}" alt="an image of the grocery item">
  {% endif %}

  <div class="row">
    <a href="/products/{{ product['id'] }}/edit">
      <button>Edit</button>
    </a>

    <form action="/api/products/{{ product['id'] }}/destroy" method="POST">
      <button>Delete</button>
    </form>
  </div>

{% endblock %}
